example.bib
instructions.aux
instructions.bbl
instructions.blg
instructions.fdb_latexmk
instructions.fls
instructions.log
instructions.out
instructions.synctex.gz
barebones_submission_template.aux
barebones_submission_template.fdb_latexmk
barebones_submission_template.fls
barebones_submission_template.log
barebones_submission_template.out
barebones_submission_template.pdf
barebones_submission_template.synctex.gz